@font-face {
  font-family: 'kubegems-sample';
  src: url('../fonts/kubegems-sample.ttf');
}

.skeleton {
  background-color: white;
  height: 100vh;
  position: relative;
  float: left;
  width: 100vw;
}

.skeleton__left {
  float: left;
}

.skeleton__clear {
  clear: both;
}

.skeleton__max {
  width: 100%;
  display: none;
}

.skeleton__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* animation-name: twinkle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

.skeleton__img__ani {
  animation-name: img-change;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.75, 0, 0.16, 1);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.skeleton__img__title__ani {
  animation-name: img-title-change;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.75, 0, 0.16, 1);
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes img-change {
  0% {
    content: var(--primary-bg-img);
    width: 84px;
  }
  45% {
    content: var(--white-bg-img);
    width: 84px;
  }
  75% {
    content: var(--white-bg-img);
    width: 84px;
  }
  100% {
    content: var(--white-bg-img);
    width: 84px;
  }
}

@keyframes img-title-change {
  0% {
    color: #1e88e5;
  }
  45% {
    color: white;
  }
  75% {
    color: white;
  }
  100% {
    color: white;
  }
}

.skeleton__img {
  width: 84px;
  content: var(--primary-bg-img);
}

.skeleton__img__title {
  color: #1e88e5;
  font-size: 3rem;
  font-family: 'kubegems-sample';
  line-height: 84px;
  margin-left: 10px;
}

.skeleton__img__small {
  content: var(--white-bg-img);
  width: 84px;
}

.skeleton__img__title__small {
  color: white !important;
}

.skeleton__loading {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-top: 15px;
  font-weight: 500;
}

.skeleton__loading__color {
  background-color: var(--primary-color);
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
