@import 'card';
@import 'layout';
@import 'sidebar';
@import 'v-bar';
@import 'loader';
@import 'pages/dashboards';
@import 'pages/widgets';

// Theme - Dark

@import 'dark';

// Theme - rtl

@import 'rtl';
