/**
 * 缩放
 */

.clear-zoom-1 {
  zoom: 1 !important;
}

.clear-zoom-0-9 {
  zoom: 1.11111111 !important;
}

.clear-zoom-0-85 {
  zoom: 1.17647058 !important;
}

.clear-zoom-0-95 {
  zoom: 1.05263157 !important;
}

.zoom-1 {
  zoom: 1 !important;
}

.zoom-0-9 {
  zoom: 0.9 !important;
}

.zoom-0-85 {
  zoom: 0.85 !important;
}

.zoom-0-95 {
  zoom: 0.95 !important;
}
