/**
 * 缩放
 */

.clear-zoom-1 {
  zoom: 1 !important;
}

.clear-zoom-0-9 {
  zoom: 1.1111111111111112 !important;
}

.clear-zoom-0-85 {
  zoom: 1.1764705882352942 !important;
}

.clear-zoom-0-92 {
  zoom: 1.0869565217391304 !important;
}

.clear-zoom-0-8 {
  zoom: 1.25 !important;
}

.clear-zoom-0-82 {
  zoom: 1.2195121951219512 !important;
}

.clear-zoom-0-95 {
  zoom: 1.0526315789473684 !important;
}

.clear-zoom-0-86 {
  zoom: 1.1627906976744187 !important;
}

.zoom-1 {
  zoom: 1 !important;
}

.zoom-0-9 {
  zoom: 0.9 !important;
}

.zoom-0-82 {
  zoom: 0.82 !important;
}

.zoom-0-85 {
  zoom: 0.85 !important;
}

.zoom-0-92 {
  zoom: 0.92 !important;
}

.zoom-0-95 {
  zoom: 0.95 !important;
}

.zoom-0-8 {
  zoom: 0.8 !important;
}

.zoom-0-86 {
  zoom: 0.86 !important;
}
