// Globals
$body-font-family: zcool qingke huangyou, microsoft yahei, pingfang sc !default;
$border-radius-root: 8px;

// Custom variables
$subtitle-color: #a1aab2;

$info: var(--primary-color);
$gray-500: #a1aab2;

$light-primary: #e6ecfc;
$light-warning: #fff8ec;
$light-success: #e8fdf8;
$light-danger: #f9e7eb;

$box-shadow: 0 0 1px 0 rgba(27, 19, 19, 0.1);

$primary: var(--primary-color);
$info: var(--primary-color);
$success: var(--success-color);
$accent: #fc4b6c;
$default: #563dea;

$snackbar-color: hsla(0, 100%, 100%, 1) !default;

$textarea-dense-box-enclosed-single-outlined-margin-top: 0 !important;

// $text-field-padding: 5px 0 5px !default;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 36px !default;
$text-field-outlined-dense-label-position-x: 8px !default;
$text-field-outlined-prepend-append-margin-top: 8px !default;

$stepper-elevation: 0 !default;

$expansion-panel-header-padding: 8px 24px !default;

$treeview-node-level-width: 24px !default;

$tabs-item-max-width: 540px !default;

$data-table-border-radius: 0;

$stepper-border-radius: 0;

$tooltip-padding: 2px 8px !default;
