.introjs-skipbutton {
  font-size: 14px !important;
  height: 36px !important;
  line-height: 36px !important;
  font-weight: 400 !important;
  width: 70px !important;
}

.introjs-nextbutton {
  color: #1e88e5 !important;
  caret-color: #1e88e5 !important;
}

.introjs-prevbutton {
  color: #1e88e5 !important;
  caret-color: #1e88e5 !important;
}
