/**
 * vuetify全局样式统一覆盖
 */

/* .v-input__slot {
  background: rgba(0, 0, 0, 0.03) !important;
} */

/* .v-input--switch .v-input__slot {
  background: white !important;
} */

.v-input--range-slider .v-input__slot {
  background: white !important;
}
.v-text-field--outlined .v-input__slot {
  background: white !important;
}
.v-text-field--solo .v-input__slot {
  background: rgba(0, 0, 0, 0.03) !important;
}
.v-list-item__title .v-input__slot {
  background: none !important;
}
.v-select-list {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.subtitle .v-input__slot {
  background: rgb(250, 250, 250) !important;
}
.v-expansion-panel::before {
  box-shadow: none !important;
}
.v-messages__message {
  line-height: 13px !important;
}
.v-app-bar {
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%) !important;
}

.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content {
  box-shadow: inset 0 2px 4px -5px rgb(50 50 50 / 75%), inset 0 -2px 4px -5px rgb(50 50 50 / 75%) !important;
}

.theme--light.v-btn.v-btn--disabled {
  color: rgba(0, 0, 0, 0.5) !important;
}

.v-tab {
  text-transform: capitalize !important;
}
.v-application .text-start {
  padding: 0 12px !important;
}
.v-input--selection-controls {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.v-picker__body--no-title {
  width: auto !important;
}
.v-text-field--solo-flat .v-select__selections input {
  padding-top: 0 !important;
}
.v-stepper__label {
  text-shadow: 0 0 0 grey !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-weight: initial !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  padding: 0 4px;
}

.v-data-table__wrapper {
  overflow-y: auto !important;
}

.date-select {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.date-select .v-input__slot {
  background: none !important;
}

.v-application .footerpart {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.theme--light.v-footer {
  background: white;
}

.theme--light.v-expansion-panels.v-expansion-panels--focusable .v-expansion-panel-header--active::before {
  opacity: 0 !important;
}

.v-data-table__empty-wrapper {
  color: rgba(0, 0, 0, 0.7) !important;
  font-weight: initial !important;
  height: 210px !important;
}

// 圆角处理
.v-chip--label {
  border-radius: 3px !important;
}

.v-btn {
  border-radius: 3px;
  text-transform: inherit !important;
}
.v-input__control {
  border-radius: 3px !important;
}
.v-btn--fab {
  border-radius: 56px;
}
.v-btn--fab.v-size--small {
  border-radius: 40px;
}
.v-btn--fab.v-size--x-small {
  border-radius: 32px;
}
.v-btn--icon.v-size--small {
  border-radius: 28px;
}
.v-btn--icon.v-size--default {
  border-radius: 36px;
}

.v-btn--icon.v-size--x-large {
  border-radius: 52px;
}

.v-tabs .v-tab::before {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.v-tabs .v-tab--active {
  background-color: #1e88e5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white !important;
}

.v-tabs--vertical .v-tab::before {
  border-top-left-radius: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.v-tabs--vertical .v-tab--active {
  background-color: #1e88e5;
  border-top-left-radius: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  color: white !important;
}

.v-tabs--default .v-tab::before {
  border-radius: 0 !important;
}

.v-tabs--default .v-tab--active {
  border-radius: 0 !important;
  background: none !important;
  color: #1e88e5 !important;
}

.v-treeview-node__prepend .chip {
  border-radius: 3px !important;
}

.v-treeview-node__root {
  margin-top: 0 !important;
}
