name: build

on:
  push:
    branches:
      - "main"
      - "develop"
    tags:
      - "v*.*.*"
    paths-ignore:
      [
        "**/*.md",
        "*.md",
        ".dockerignore",
        ".gitignore",
        "**/ci.yml",
        ".vscode/*",
      ]
  pull_request:
    paths-ignore:
      [
        "**/*.md",
        "*.md",
        ".dockerignore",
        ".gitignore",
        "**/ci.yml",
        ".vscode/*",
      ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ${{ secrets.DOCKER_RSY }}
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3

      - name: Repo metadata
        id: repo
        uses: actions/github-script@v3
        with:
          script: |
            const repo = await github.repos.get(context.repo)
            return repo.data

      - name: Prepare
        id: prepare
        run: |
          VERSION=latest
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          elif [[ $GITHUB_REF == refs/heads/* ]]; then
            VERSION=$(echo ${GITHUB_REF#refs/heads/} | sed -r 's#/+#-#g')
            if [ "${{ github.event.repository.default_branch }}" = "$VERSION" ]; then
              VERSION=latest
            fi
          elif [[ $GITHUB_REF == refs/pull/* ]]; then
            VERSION=pr-${{ github.event.number }}
          fi
          TAGS="${VERSION}"
          echo ::set-output name=version::${VERSION}
          echo ::set-output name=tags::${TAGS}
          echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')
      
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      
      - run: export VUE_APP_DATE=`date "+%Y-%m-%d %H:%M:%S"`
      - run: export VUE_APP_RELEASE=${{ steps.prepare.outputs.tags }}
      - run: export MESSAGE_SERVER=`0.0.0.0:8080`
      - run: export API_SERVER=`0.0.0.0:8020`
      - run: yarn install && yarn build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to docker.io
        if: ${{ github.event_name }} != 'pull_request'
        uses: docker/login-action@v1.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_RSY_USER }}
          password: ${{ secrets.DOCKER_RSY_PASSWORD }}

      - name: Build dashboard and push
        id: docker_build_dashboard
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.prepare.outputs.tags }}
